:host {
  display: flex;
  flex-direction: row;
  max-width: 1024px;
  margin: 0 auto;
  padding: 50px;
}

@media (max-width: 768px) {
  :host {
    flex-direction: column;
    align-items: center;

    padding: 50px 0 0 0;
  }
}
